
.post-date widgetfx-1{
	color:#db4437;
}
.contact-form-area label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 15px;
}

.modal{
	position:fixed;
	z-index:1040;
	left:0;
	top:0;
	height:100%;
	width:100%;
	overflow:auto;
	/* background-color:(000); */
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    /* background-color: #000; */
}

.single-widget {
	
    position: relative;
    z-index: -1 !important;
    border: 1px solid #393c3d;
    border-radius: 3px;
    padding: 40px 30px;
}

mb-50 {
    margin-bottom: 50px !important;
}

#mc_embed_signup h2 {
    font-weight: bold;
    padding: 0;
	color:#393c3d;
    margin: 15px 0;
    font-size: 1.4em;
}